:root {
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --background-color: #f4f4f4;
    --text-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --hover-box-shadow-color: rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(to right, var(--primary-color), #34495e);
    color: var(--secondary-color);
    padding: 40px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 5px 0;
    font-size: 1.5em;
}

section {
    margin: 40px 0;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 10px 0;
    font-size: 1.2em;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.project {
    background-color: #fff;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px var(--box-shadow-color);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px var(--hover-box-shadow-color);
}

@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }
}

.project-images {
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow-x: auto;
}

.project-images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    box-sizing: border-box;
}

.project-images img:last-child {
    margin-right: 0;
}

.project-images img:hover {
    filter: brightness(90%);
}

.calculator-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.calculator-images img {
    max-width: 400px;
    height: 400px;
    border: 1px solid #ddd;
    margin-right: 10px;
    box-sizing: border-box;
}